.input {
  height: 30px;
  width: 70%;
  height: 40px;

  padding: 10px;
  text-align: center;
  &:not(:focus) {
    border: 1px solid;
    border-radius: 10px;
  }
  &:focus {
    outline: none;
    border: 3px solid rgb(60, 77, 224);
    border-radius: 10px;
  }
}
